/pagerank/small.net.txt
/pagerank/large.net.txt
/pagerank/.DS_Store
/pagerank/out.txt
.DS_Store
/PageRankProj
/pagerank/large.net
*.o
*.net
/pagerank/pagerank0
/pagerank/eecs485pa5p
eecs485pa5p
/pa4/python/venv
/pa4/python/utils/config_app.py
/indexServer-proj
/pagerank-proj
/hadoop-example.tar.gz
/hadoop-example/.metadata/
/hadoop-example/.recommenders/
/hadoop-example/RemoteSystemsTempFiles/
/hadoop-example/dataset/
/invertedIndex/
/pa4_CPP/indexServer
/pa4_CPP/indexer
