{% extends "base.html" %}
{% block content %}
<div class="header clearfix">
  <h3 class="text-muted"><a href="/sksnf4gf1or/pa4/">JPH Search</a></h3>
</div>
<div class="centered">
    <div class="logo"><h1 style="font-family: 'Brush Script MT',cursive;">JPH SEARCH</h1></div>
    <div class="search-box-container">
        <form action="./search" method="GET">
            <div class="my-row">
                <div style="width:100%;float:left;"><input type="text" name="query" style="width:100%;"></div>
            </div>
            <div class="my-row">
                <div style="width:40%;margin:auto;"><input type="submit" style="width:100%;" value="Search"></div>
            </div>
            <div class="my-row">
                <div style="width:100%;float:left;">
                    <label for="w">PageRank Weight:</label>
                    <input type="range" name="w" id="w" value="{{w}}" min="0" max="1" step="0.01">
                </div>
            </div>
        </form>


    </div>
</div>
{% endblock %}
